
 <ion-header >
  <ion-toolbar class="toolbar-background">
  <ion-buttons slot="start" >
   <ion-back-button class="button-native"></ion-back-button>
</ion-buttons>
<ion-title class="toolbar-title">Student List</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>

    <div class="body_warrper">
        <!-- <header class="header_area">
            <div class="container">
                <button class="btn-back"><img src="images/back.png" alt="back" title=""></button>
                <button class="btn-nav"><img src="images/navbar.png" alt="back" title=""></button>
                <h2>Student List</h2>
            </div>
        </header> -->

        <div class="body_area">

            <div class="platform_main_area">
                <div class="main_body_area">
                    <div class="container">
                        <div>
                      <!--   <div  *ngIf="studentlist"> -->
                       <div>
                            <!-- <div class="offer_area" *ngFor="let sl of studentlist"> -->
                      
                            <div class="offer_box">
                                <h4>Subject Name</h4>
                                
                                <!-- <h5>{{sl.first_name + sl.last_name}}</h5> -->
                                <h5>abc </h5>
                            </div>
                            <div class="offer_box">
                                <h4>Email</h4>
                               <!--  <h5>{{sl.email}}</h5> -->
                               <h5>demo@gmil.com</h5>
                                
                            </div>
                        </div>

                        </div>
                     <!--     <div class="offer_area" *ngIf="!studentlist?.length">
                               
                            <div class="offer_box">
                                 <h1 style="text-align: center;color: #b14444;">No record</h1>
                            </div>
                   
                 </div> -->
                        
                    </div>
                </div>
            </div>

        </div>

    </div>

</ion-content>
