
 <ion-header >
  <ion-toolbar class="toolbar-background">
  <ion-buttons slot="start" >
   <ion-back-button class="button-native"></ion-back-button>
</ion-buttons>
<ion-title class="toolbar-title">Payout</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>

    <div class="apply_for_payout_area">
        <div class="shape_box"><img src="assets/images/sape9.png" alt="sape9" title="" /></div>
        <div class="apply_for_payout">
            <div class="container">
                <!-- <h1>Apply For Payout</h1> -->
                <div class="form_box">
                    <div class="form-group">
                        <label>State</label>
                        <select class="form-control">
                            <option>Select</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Collage</label>
                        <select class="form-control">
                            <option>Select</option>
                        </select>
                    </div>
                    <button class="btn">update</button>
                </div>
            </div>
        </div>
    </div>

</ion-content>
