 <ion-header >
  <ion-toolbar class="toolbar-background">
  <ion-buttons slot="start" >
   <ion-back-button class="button-native"></ion-back-button>
</ion-buttons>
<ion-title class="toolbar-title">Apply For Counselling</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

    <div class="body_warrper">
      <!-- <header class="header_area">
        <div class="container">
          <button routerLink="/sidebar" class="btn-back"><img src="assets/images/back.png" alt="back" title=""></button>
          
          <h2>Apply For Counselling</h2>
        </div>
      </header> -->

      <div class="body_area">

        <div class="platform_main_area">
          <div class="main_body_area">
            <div class="container">
                <div class="search_box">
                    <div class="d-flex justify-content-between">
                        <select class="form-control">
                            <option>Keyword<br/>Search</option>
                        </select>
                        <select class="form-control">
                            <option>College Type</option>
                        </select>
                        <input type="text" class="form-control" placeholder="Collage Name" />
                        <select class="form-control">
                            <option>State</option>
                        </select>
                        <button class="btn"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                <ul class="category_list">
                    <li>
                        <select class="form-control">
                            <option>Course Categories</option>
                        </select>
                    </li>
                    <li>
                        <select class="form-control">
                            <option>College</option>
                        </select>
                    </li>
                    <li>
                        <select class="form-control">
                            <option>Durations</option>
                        </select>
                    </li>
                </ul>
                
                <div class="apply_box" routerLink="/find-college">
                    <div class="img_box">
                        <img src="assets/images/apply-bg1.jpg" alt="" title="" />
                    </div>
                    <h3>
                        <strong class="date">April 30th, 2021</strong>
                        Bangalore College of Engineering and Technology
                    </h3>
                    <div class="location"><img src="assets/images/location.png">Bangalore, Karnataka</div>
                    <p><strong>Description :</strong> Bangalore College of Engineering and Technology</p>
                    <div class="price"><i class="fas fa-rupee-sign"></i> 3,600</div>
                </div>
                <div class="apply_box" routerLink="/find-college">
                    <div class="img_box">
                        <img src="assets/images/apply-bg2.jpg" alt="" title="" />
                    </div>
                    <h3>
                        <strong class="date">April 30th, 2021</strong>
                        Programme in Enterprise Management
                    </h3>
                    <div class="location"><img src="assets/images/location.png">Bangalore, Karnataka</div>
                    <p><strong>Description :</strong> Bangalore College of Engineering and Technology</p>
                    <div class="price"><i class="fas fa-rupee-sign"></i> 8,000</div>
                </div>
                <div class="apply_box" routerLink="/find-college">
                    <div class="img_box">
                        <img src="assets/images/apply-bg3.jpg" alt="" title="" />
                    </div>
                    <h3>
                        <strong class="date">April 30th, 2021</strong>
                        Indian Institute Of Management
                    </h3>
                    <div class="location"><img src="assets/images/location.png">Bangalore, Karnataka</div>
                    <p><strong>Description :</strong> Bangalore College of Engineering and Technology</p>
                    <div class="price"><i class="fas fa-rupee-sign"></i> 3,600</div>
                </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  
</ion-content>
