@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body {
    display: block;
    height: 100%;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    position:relative;
    z-index:1;
    background-color: #ffffff;

}
*, ::after, ::before {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{font-family: 'Raleway', sans-serif;}
h3.h3{
    width: 100%;
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0 15px;
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}
img {
    max-width: 100%;
    height: auto;
}
.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.container{
    box-sizing: border-box;
    padding: 0px 30px;
    width: 100%;
}
.w-100{
    width: 100%;
    box-sizing: border-box;
}
.body_warrper{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 0 0 0;
    position: relative;
    background: #3f3f3f;
}
.header_area {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 0;
    margin: 0 0 0;
    text-align: center;
}
.btn-back{
    float: left;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 0;
}
.btn-nav{
    float: right;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 0;
}
.header_area h2 {
    margin: 0 0 0;
    line-height: normal;
    color: #fff;
    text-transform: capitalize;
    
    top: 20px;
    left: 0;
    right: 0;
    font-weight: 400;
    font-size: 20px;
}
.body_area{
    width: 100%;
    box-sizing: border-box;
}

.platform_main_area {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 30px 0px;
    box-sizing: border-box;
    height: 88%;
    overflow-y: scroll;
}
.main_body_area{
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.apply_box {
    width: 100%;
    box-sizing: border-box;
    padding: 2px 10px 10px 127px;
    position: relative;
    min-height: 160px;
    box-shadow: 0px 4px 5px rgb(222 222 222);
    margin: 0 0 15px;
}
.apply_box .img_box{
    position: absolute;
    top: 0;
    left: 0;
    width: 119px;
    height: 156px;
    box-sizing: border-box;
    border-radius: 5px;
}
.apply_box h3 {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0 4px;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
}
.apply_box h3 strong.date {
    width: 100%;
    display: block;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 600;
    color: #1682be;
    margin: 0 0 2px;
}
.apply_box .location{
    width: 100%;
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0 5px;
    color: #1ca3ed;
    font-size: 13px;
    font-weight: 500;
}
.apply_box .location img {
    position: relative;
    margin: 0 5px 0 0;
    top: 2px;
}
.apply_box p{
    width: 100%;
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0 4px;
    font-size: 12px;
    font-weight: 500;
    color: #000000;
}
.apply_box .price {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0 0;
    color: #1ca3ed;
    font-size: 14px;
    font-weight: 500;
}

ul.category_list {
    width: 100%;
    box-sizing: border-box;
    padding: 0 0 0;
    margin: 0 0 10px;
    list-style: none;
    display: inline-block;
}
ul.category_list li {
    width: 33%;
    float: left;
    box-sizing: border-box;
    margin-right: 1px;
}
ul.category_list li:nth-of-type(3n) {
    width: 33%;
    margin-right: 0px;
}
ul.category_list select.form-control {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 0px;
    font-size: 8px;
    outline: none;
    border-radius: 30px;
}
.search_box {
    width: 100%;
    box-sizing: border-box;
    padding: 0px 7px;
    margin: 0 0 15px;
    border: 1px solid #c3c3c3;
    border-radius: 30px;
}

.search_box select.form-control {
    border: none;
    border-right: 1px solid #c3c3c3;
    padding: 7px 0px;
    font-size: 11px;
    background: transparent;
    outline: none;
    width: 100%;
}
.search_box .form-control {
    border: none;
    border-right: 1px solid #c3c3c3;
    padding: 7px 0px;
    font-size: 11px;
    background: transparent;
    outline: none;
    width: 100%;
}
.btn {
    border: 1px solid #86be41;
    background: #86be41;
    color: #ffffff;
    margin: 0 7px;
    border-radius: 15px;
    padding: 6px 9px;
    width: 50px;
    height: 25px;
    font-size: 10px;
    position: relative;
    top: 1px;
    right: -12px;
}