 <ion-header >
  <ion-toolbar class="toolbar-background">
  <ion-buttons slot="start" >
   <ion-back-button class="button-native"></ion-back-button>
</ion-buttons>
 <ion-title class="toolbar-title">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
 <div class="wrapper">
        <!-- <header class="header_area">
            <div class="container">
                <button class="btn-back"><img src="images/back.png" alt="back" title=""></button>
                <button class="btn-nav"><img src="images/navbar.png" alt="back" title=""></button>
                <h2>Forgot Password</h2>
            </div>
        </header> -->

        <div class="profile_area">
            <!-- <div class="img_area">
                <img src="images/Man.png" alt="">
            </div> -->
        </div>

        <div class="form_area">

            <div class="container">
                <form>
                    <div class="form-group">
                        <label>Your Email</label>
                    <input type="text" class="form-control" placeholder="Enter your Email"  [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                    </div>
                    <button class="rb_btn" (click)="submit()"><span>Submit</span></button>


                </form>
            </div>

        </div>

    </div>
</ion-content>
