
 <ion-header >
  <ion-toolbar class="toolbar-background">
  <ion-buttons slot="start" >
   <ion-back-button class="button-native"></ion-back-button>
</ion-buttons>
<ion-title class="toolbar-title">My Account</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>
    <div class="body_warrper">
        <!-- <header class="header_area">
            <div class="container">
                <button class="btn-back"><img src="images/back.png" alt="back" title=""></button>
                <button class="btn-nav"><img src="images/navbar.png" alt="back" title=""></button>
                <h2>My Account</h2>
            </div>
        </header> -->

        <div class="body_area">

            <div class="platform_main_area">
                <div class="main_body_area">

                    <div class="admission_area">
                        <div class="student_box">
                            <img src="assets/images/img1.png" alt="icon" title="" class="img" />
                            <h3>Student Name</h3>
                            <p>John Smith</p>
                            <p>Admission no: <span>21PGPEM0203</span></p>
                        </div>
                        <div class="contain_box">
                            <h4>College Name With Course</h4>
                            <p>Programme in Enterprise Management,MBA/PGDM</p>
                        </div>
                        <div class="contain_box">
                            <h4>Status</h4>
                            <p>Success</p>
                        </div>
                        <div class="contain_box">
                            <h4>Point Earned</h4>
                            <p> 2000Ready to redeem</p>
                        </div>
                    </div>
                    <div class="admission_area">
                        <div class="student_box">
                            <img src="assets/images/img1.png" alt="icon" title="" class="img" />
                            <h3>Student Name</h3>
                            <p>John Smith</p>
                            <p>Admission no: <span>21PGPEM0203</span></p>
                        </div>
                        <div class="contain_box">
                            <h4>College Name With Course</h4>
                            <p>Programme in Enterprise Management,MBA/PGDM</p>
                        </div>
                        <div class="contain_box">
                            <h4>Status</h4>
                            <p>Success</p>
                        </div>
                        <div class="contain_box">
                            <h4>Point Earned</h4>
                            <p> 2000Ready to redeem</p>
                        </div>
                    </div>
                    <div class="admission_area">
                        <div class="student_box">
                            <img src="assets/images/img1.png" alt="icon" title="" class="img" />
                            <h3>Student Name</h3>
                            <p>John Smith</p>
                            <p>Admission no: <span>21PGPEM0203</span></p>
                        </div>
                        <div class="contain_box">
                            <h4>College Name With Course</h4>
                            <p>Programme in Enterprise Management,MBA/PGDM</p>
                        </div>
                        <div class="contain_box">
                            <h4>Status</h4>
                            <p>Success</p>
                        </div>
                        <div class="contain_box">
                            <h4>Point Earned</h4>
                            <p> 2000Ready to redeem</p>
                        </div>
                    </div>

                    <div class="admission_area">
                        <div class="contain_box">
                            <h4>Total successful admission done</h4>
                            <p>3 (Three)</p>
                            <h4>Total point earned</h4>
                            <p>6800 (Six Thousand Eight Hundred)</p>
                            <h4>Total redeemable points</h4>
                            <p>6000 (Six Thousand)</p>
                            <h4>Total not ready to redeem points</h4>
                            <p>0 (Zero)</p>
                            <h4>Already redeemed points</h4>
                            <p>800 (Eight Hundred)</p>
                            <h4>Extra bonus earning</h4>
                            <p>Samsung galaxy 7</p>
                            <p>You have earned this gift as you have completed</p>
                            <p>the milestone of 1000 (One Thousand) points</p>
                        </div>
                    </div>

                    <div class="bank_details_box">
                        <div class="container">
                            <h3>Your Registered Bank Details</h3>
                            <p>Bank Holder Name: John Smith</p>
                            <p>Bank Address: SBI KOTULPUR</p>
                            <p>Bank IFSC Code: SBIN1234567</p>
                            <p>Account Number: 1234567799</p>
                            <button class="btn-success">Apply to change or edit your account details</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</ion-content>
